In [3]:
#IMPORT ALL THE REQUIRED LIBERARIES
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
from sklearn.preprocessing import MinMaxScaler
from sdv.single_table import CTGANSynthesizer
from sdv.metadata import SingleTableMetadata
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import warnings
warnings.filterwarnings('ignore')

# Fix multiprocessing issue for Windows
os.environ["NUMBA_NUM_THREADS"] = "1"
os.environ["JOBLIB_START_METHOD"] = "spawn"

In [4]:
import torch

In [5]:

# Load the dataset
INPUTEVENTS_MV = pd.read_csv("INPUTEVENTS_MV.csv.gz")
print(INPUTEVENTS_MV.shape)
INPUTEVENTS_MV.head(20)

(3618991, 31)

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,STARTTIME,ENDTIME,ITEMID,AMOUNT,AMOUNTUOM,RATE,...,TOTALAMOUNTUOM,ISOPENBAG,CONTINUEINNEXTDEPT,CANCELREASON,STATUSDESCRIPTION,COMMENTS_EDITEDBY,COMMENTS_CANCELEDBY,COMMENTS_DATE,ORIGINALAMOUNT,ORIGINALRATE
0,241,27063,139787,223259.0,2133-02-05 06:29:00,2133-02-05 08:45:00,225166,6.774532,mEq,NaN,...,ml,0,0,1,Rewritten,NaN,RN,2133-02-05 12:52:00,10.000000,0.050000
1,242,27063,139787,223259.0,2133-02-05 05:34:00,2133-02-05 06:30:00,225944,28.132997,ml,30.142497,...,ml,0,0,0,FinishedRunning,NaN,NaN,NaN,28.132998,30.255817
2,243,27063,139787,223259.0,2133-02-05 05:34:00,2133-02-05 06:30:00,225166,2.813300,mEq,NaN,...,ml,0,0,0,FinishedRunning,NaN,NaN,NaN,2.813300,0.050426
3,244,27063,139787,223259.0,2133-02-03 12:00:00,2133-02-03 12:01:00,225893,1.000000,dose,NaN,...,ml,0,0,2,Rewritten,RN,NaN,2133-02-03 17:06:00,1.000000,1.000000
4,245,27063,139787,223259.0,2133-02-03 12:00:00,2133-02-03 12:01:00,220949,100.000000,ml,NaN,...,ml,0,0,2,Rewritten,RN,NaN,2133-02-03 17:06:00,100.000000,0.000000
5,246,27063,139787,223259.0,2133-02-05 05:34:00,2133-02-05 07:03:00,225944,44.333333,ml,29.887640,...,ml,0,0,0,Rewritten,NaN,NaN,NaN,44.333332,30.000000
6,247,27063,139787,223259.0,2133-02-05 05:34:00,2133-02-05 07:03:00,225166,4.433333,mEq,NaN,...,ml,0,0,0,Rewritten,NaN,NaN,NaN,4.433333,0.050000
7,248,27063,139787,223259.0,2133-02-05 09:43:00,2133-02-05 12:30:00,225944,83.600207,ml,30.036002,...,ml,0,0,0,Changed,NaN,NaN,NaN,100.000000,30.148920
8,249,27063,139787,223259.0,2133-02-05 09:43:00,2133-02-05 12:30:00,225166,8.360021,mEq,NaN,...,ml,0,0,0,Changed,NaN,NaN,NaN,10.000001,0.050248
9,250,27063,139787,223259.0,2133-02-05 05:34:00,2133-02-05 05:35:00,225944,0.500600,ml,30.036002,...,ml,0,0,0,Rewritten,NaN,NaN,NaN,27.533001,30.148920
10,251,27063,139787,223259.0,2133-02-05 05:34:00,2133-02-05 05:35:00,225166,0.050060,mEq,NaN,...,ml,0,0,0,Rewritten,NaN,NaN,NaN,2.753300,0.050248
11,252,27063,139787,223259.0,2133-02-04 08:30:00,2133-02-04 08:31:00,225799,60.000000,ml,NaN,...,ml,0,0,0,FinishedRunning,NaN,NaN,NaN,60.000000,60.000000
12,253,27063,139787,223259.0,2133-02-04 03:39:00,2133-02-04 03:40:00,225158,500.000000,ml,NaN,...,ml,0,0,2,Rewritten,RN,NaN,2133-02-04 03:40:00,500.000000,500.000000
13,254,27063,139787,223259.0,2133-02-05 07:31:00,2133-02-05 18:00:00,225158,104.833335,ml,10.000000,...,ml,0,0,0,Stopped,NaN,NaN,NaN,250.000000,10.000000
14,255,27063,139787,223259.0,2133-02-05 06:30:00,2133-02-05 09:50:00,225944,100.120008,ml,30.036002,...,ml,0,0,2,Rewritten,RN,NaN,2133-02-05 12:58:00,100.000000,30.148920
15,256,27063,139787,223259.0,2133-02-05 06:30:00,2133-02-05 09:50:00,225166,10.012001,mEq,NaN,...,ml,0,0,2,Rewritten,RN,NaN,2133-02-05 12:58:00,10.000001,0.050248
16,257,27063,139787,223259.0,2133-02-04 17:00:00,2133-02-04 17:01:00,226453,60.000000,ml,NaN,...,ml,0,0,0,FinishedRunning,NaN,NaN,NaN,60.000000,0.000000
17,104,29969,129547,248410.0,2181-02-20 15:50:00,2181-02-21 00:50:00,225970,30.000000,grams,NaN,...,ml,0,0,2,Rewritten,RN,NaN,2181-02-21 01:02:00,30.000000,0.000000
18,105,29969,129547,248410.0,2181-02-22 13:10:00,2181-02-22 13:11:00,225797,200.000000,ml,NaN,...,ml,0,0,0,FinishedRunning,NaN,NaN,NaN,200.000000,200.000000
19,106,29969,129547,248410.0,2181-02-21 12:30:00,2181-02-21 12:31:00,226453,30.000000,ml,NaN,...,ml,0,0,0,FinishedRunning,NaN,NaN,NaN,30.000000,30.000000

In [6]:
# Check missing values
missing = INPUTEVENTS_MV.isnull().sum()
print(missing[missing > 0])

ICUSTAY_ID                       1164
RATE                          1576139
RATEUOM                       1576139
SECONDARYORDERCATEGORYNAME     983428
TOTALAMOUNT                    534027
TOTALAMOUNTUOM                 530354
COMMENTS_EDITEDBY             3369730
COMMENTS_CANCELEDBY           3499629
COMMENTS_DATE                 3250366
dtype: int64

In [7]:
# Drop duplicates
INPUTEVENTS_MV.drop_duplicates(inplace=True)

In [8]:
INPUTEVENTS_MV.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3618991 entries, 0 to 3618990
Data columns (total 31 columns):
 #   Column                         Dtype
---  ------                         -----
 0   ROW_ID                         int64
 1   SUBJECT_ID                     int64
 2   HADM_ID                        int64
 3   ICUSTAY_ID                     float64
 4   STARTTIME                      object
 5   ENDTIME                        object
 6   ITEMID                         int64
 7   AMOUNT                         float64
 8   AMOUNTUOM                      object
 9   RATE                           float64
 10  RATEUOM                        object
 11  STORETIME                      object
 12  CGID                           int64
 13  ORDERID                        int64
 14  LINKORDERID                    int64
 15  ORDERCATEGORYNAME              object
 16  SECONDARYORDERCATEGORYNAME     object
 17  ORDERCOMPONENTTYPEDESCRIPTION  object
 18  ORDERCATEGORYDESCRIPTION       object
 19  PATIENTWEIGHT                  float64
 20  TOTALAMOUNT                    float64
 21  TOTALAMOUNTUOM                 object
 22  ISOPENBAG                      int64
 23  CONTINUEINNEXTDEPT             int64
 24  CANCELREASON                   int64
 25  STATUSDESCRIPTION              object
 26  COMMENTS_EDITEDBY              object
 27  COMMENTS_CANCELEDBY            object
 28  COMMENTS_DATE                  object
 29  ORIGINALAMOUNT                 float64
 30  ORIGINALRATE                   float64
dtypes: float64(7), int64(10), object(14)
memory usage: 855.9+ MB

In [9]:
# Convert date columns
INPUTEVENTS_MV['STARTTIME'] = pd.to_datetime(INPUTEVENTS_MV['STARTTIME'])
INPUTEVENTS_MV['ENDTIME'] = pd.to_datetime(INPUTEVENTS_MV['ENDTIME'])
INPUTEVENTS_MV['COMMENTS_DATE'] = pd.to_datetime(INPUTEVENTS_MV['COMMENTS_DATE'])

In [10]:
# drop rows where essential columns are missing
essential_cols = ['AMOUNT', 'RATE', 'ISOPENBAG',]
INPUTEVENTS_MV_cleaned = INPUTEVENTS_MV.dropna(subset=essential_cols)

In [11]:
INPUTEVENTS_MV_cleaned.head()

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,STARTTIME,ENDTIME,ITEMID,AMOUNT,AMOUNTUOM,RATE,...,TOTALAMOUNTUOM,ISOPENBAG,CONTINUEINNEXTDEPT,CANCELREASON,STATUSDESCRIPTION,COMMENTS_EDITEDBY,COMMENTS_CANCELEDBY,COMMENTS_DATE,ORIGINALAMOUNT,ORIGINALRATE
1,242,27063,139787,223259.0,2133-02-05 05:34:00,2133-02-05 06:30:00,225944,28.132997,ml,30.142497,...,ml,0,0,0,FinishedRunning,NaN,NaN,NaT,28.132998,30.255817
5,246,27063,139787,223259.0,2133-02-05 05:34:00,2133-02-05 07:03:00,225944,44.333333,ml,29.887640,...,ml,0,0,0,Rewritten,NaN,NaN,NaT,44.333332,30.000000
7,248,27063,139787,223259.0,2133-02-05 09:43:00,2133-02-05 12:30:00,225944,83.600207,ml,30.036002,...,ml,0,0,0,Changed,NaN,NaN,NaT,100.000000,30.148920
9,250,27063,139787,223259.0,2133-02-05 05:34:00,2133-02-05 05:35:00,225944,0.500600,ml,30.036002,...,ml,0,0,0,Rewritten,NaN,NaN,NaT,27.533001,30.148920
13,254,27063,139787,223259.0,2133-02-05 07:31:00,2133-02-05 18:00:00,225158,104.833335,ml,10.000000,...,ml,0,0,0,Stopped,NaN,NaN,NaT,250.000000,10.000000

In [12]:
#  Encode categorical features
cat_cols = INPUTEVENTS_MV_cleaned.select_dtypes(include='object').columns
for col in cat_cols:
    INPUTEVENTS_MV_cleaned[col] = INPUTEVENTS_MV_cleaned[col].astype('category').cat.codes

In [13]:
print("Rows:", INPUTEVENTS_MV_cleaned.shape[0])
print("Columns:", INPUTEVENTS_MV_cleaned.shape[1])
print(INPUTEVENTS_MV_cleaned.select_dtypes(include='object').nunique().sort_values(ascending=False))

Rows: 2042852
Columns: 31
Series([], dtype: float64)

In [14]:
# Scale numeric columns ( AMOUNT)
scaler = MinMaxScaler()
if 'AMOUNT' in INPUTEVENTS_MV_cleaned.columns:
    INPUTEVENTS_MV_cleaned['AMOUNT_scaled'] = scaler.fit_transform(INPUTEVENTS_MV_cleaned[['AMOUNT']])

In [15]:
# Save cleaned version
INPUTEVENTS_MV_cleaned.to_csv("INPUTEVENTS_MV_cleaned.csv", index=False)

In [16]:
!pip install sdv

Requirement already satisfied: sdv in /home/ehr/Desktop/anupama/.venv/lib/python3.12/site-packages (1.24.1)
Requirement already satisfied: boto3<2.0.0,>=1.28 in /home/ehr/Desktop/anupama/.venv/lib/python3.12/site-packages (from sdv) (1.39.4)
Requirement already satisfied: botocore<2.0.0,>=1.31 in /home/ehr/Desktop/anupama/.venv/lib/python3.12/site-packages (from sdv) (1.39.4)
Requirement already satisfied: cloudpickle>=2.1.0 in /home/ehr/Desktop/anupama/.venv/lib/python3.12/site-packages (from sdv) (3.1.1)
Requirement already satisfied: graphviz>=0.13.2 in /home/ehr/Desktop/anupama/.venv/lib/python3.12/site-packages (from sdv) (0.21)
Requirement already satisfied: numpy>=1.26.0 in /home/ehr/Desktop/anupama/.venv/lib/python3.12/site-packages (from sdv) (2.3.1)
Requirement already satisfied: pandas>=2.1.1 in /home/ehr/Desktop/anupama/.venv/lib/python3.12/site-packages (from sdv) (2.3.1)
Requirement already satisfied: tqdm>=4.29 in /home/ehr/Desktop/anupama/.venv/lib/python3.12/site-packages (from sdv) (4.67.1)
Requirement already satisfied: copulas>=0.12.1 in /home/ehr/Desktop/anupama/.venv/lib/python3.12/site-packages (from sdv) (0.12.3)
Requirement already satisfied: ctgan>=0.11.0 in /home/ehr/Desktop/anupama/.venv/lib/python3.12/site-packages (from sdv) (0.11.0)
Requirement already satisfied: deepecho>=0.7.0 in /home/ehr/Desktop/anupama/.venv/lib/python3.12/site-packages (from sdv) (0.7.0)
Requirement already satisfied: rdt>=1.17.0 in /home/ehr/Desktop/anupama/.venv/lib/python3.12/site-packages (from sdv) (1.17.1)
Requirement already satisfied: sdmetrics>=0.21.0 in /home/ehr/Desktop/anupama/.venv/lib/python3.12/site-packages (from sdv) (0.21.0)
Requirement already satisfied: platformdirs>=4.0 in /home/ehr/Desktop/anupama/.venv/lib/python3.12/site-packages (from sdv) (4.3.8)
Requirement already satisfied: pyyaml>=6.0.1 in /home/ehr/Desktop/anupama/.venv/lib/python3.12/site-packages (from sdv) (6.0.2)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /home/ehr/Desktop/anupama/.venv/lib/python3.12/site-packages (from boto3<2.0.0,>=1.28->sdv) (1.0.1)
Requirement already satisfied: s3transfer<0.14.0,>=0.13.0 in /home/ehr/Desktop/anupama/.venv/lib/python3.12/site-packages (from boto3<2.0.0,>=1.28->sdv) (0.13.0)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /home/ehr/Desktop/anupama/.venv/lib/python3.12/site-packages (from botocore<2.0.0,>=1.31->sdv) (2.9.0.post0)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in /home/ehr/Desktop/anupama/.venv/lib/python3.12/site-packages (from botocore<2.0.0,>=1.31->sdv) (2.5.0)
Requirement already satisfied: plotly>=5.10.0 in /home/ehr/Desktop/anupama/.venv/lib/python3.12/site-packages (from copulas>=0.12.1->sdv) (6.2.0)
Requirement already satisfied: scipy>=1.12.0 in /home/ehr/Desktop/anupama/.venv/lib/python3.12/site-packages (from copulas>=0.12.1->sdv) (1.16.0)
Requirement already satisfied: torch>=2.2.0 in /home/ehr/Desktop/anupama/.venv/lib/python3.12/site-packages (from ctgan>=0.11.0->sdv) (2.7.1)
Requirement already satisfied: pytz>=2020.1 in /home/ehr/Desktop/anupama/.venv/lib/python3.12/site-packages (from pandas>=2.1.1->sdv) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /home/ehr/Desktop/anupama/.venv/lib/python3.12/site-packages (from pandas>=2.1.1->sdv) (2025.2)
Requirement already satisfied: scikit-learn>=1.3.1 in /home/ehr/Desktop/anupama/.venv/lib/python3.12/site-packages (from rdt>=1.17.0->sdv) (1.7.0)
Requirement already satisfied: Faker>=17 in /home/ehr/Desktop/anupama/.venv/lib/python3.12/site-packages (from rdt>=1.17.0->sdv) (37.4.2)
Requirement already satisfied: narwhals>=1.15.1 in /home/ehr/Desktop/anupama/.venv/lib/python3.12/site-packages (from plotly>=5.10.0->copulas>=0.12.1->sdv) (1.47.0)
Requirement already satisfied: packaging in /home/ehr/Desktop/anupama/.venv/lib/python3.12/site-packages (from plotly>=5.10.0->copulas>=0.12.1->sdv) (25.0)
Requirement already satisfied: six>=1.5 in /home/ehr/Desktop/anupama/.venv/lib/python3.12/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<2.0.0,>=1.31->sdv) (1.17.0)
Requirement already satisfied: joblib>=1.2.0 in /home/ehr/Desktop/anupama/.venv/lib/python3.12/site-packages (from scikit-learn>=1.3.1->rdt>=1.17.0->sdv) (1.5.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in /home/ehr/Desktop/anupama/.venv/lib/python3.12/site-packages (from scikit-learn>=1.3.1->rdt>=1.17.0->sdv) (3.6.0)
Requirement already satisfied: filelock in /home/ehr/Desktop/anupama/.venv/lib/python3.12/site-packages (from torch>=2.2.0->ctgan>=0.11.0->sdv) (3.18.0)
Requirement already satisfied: typing-extensions>=4.10.0 in /home/ehr/Desktop/anupama/.venv/lib/python3.12/site-packages (from torch>=2.2.0->ctgan>=0.11.0->sdv) (4.14.1)
Requirement already satisfied: setuptools in /home/ehr/Desktop/anupama/.venv/lib/python3.12/site-packages (from torch>=2.2.0->ctgan>=0.11.0->sdv) (80.9.0)
Requirement already satisfied: sympy>=1.13.3 in /home/ehr/Desktop/anupama/.venv/lib/python3.12/site-packages (from torch>=2.2.0->ctgan>=0.11.0->sdv) (1.14.0)
Requirement already satisfied: networkx in /home/ehr/Desktop/anupama/.venv/lib/python3.12/site-packages (from torch>=2.2.0->ctgan>=0.11.0->sdv) (3.5)
Requirement already satisfied: jinja2 in /home/ehr/Desktop/anupama/.venv/lib/python3.12/site-packages (from torch>=2.2.0->ctgan>=0.11.0->sdv) (3.1.6)
Requirement already satisfied: fsspec in /home/ehr/Desktop/anupama/.venv/lib/python3.12/site-packages (from torch>=2.2.0->ctgan>=0.11.0->sdv) (2025.7.0)
Requirement already satisfied: nvidia-cuda-nvrtc-cu12==12.6.77 in /home/ehr/Desktop/anupama/.venv/lib/python3.12/site-packages (from torch>=2.2.0->ctgan>=0.11.0->sdv) (12.6.77)
Requirement already satisfied: nvidia-cuda-runtime-cu12==12.6.77 in /home/ehr/Desktop/anupama/.venv/lib/python3.12/site-packages (from torch>=2.2.0->ctgan>=0.11.0->sdv) (12.6.77)
Requirement already satisfied: nvidia-cuda-cupti-cu12==12.6.80 in /home/ehr/Desktop/anupama/.venv/lib/python3.12/site-packages (from torch>=2.2.0->ctgan>=0.11.0->sdv) (12.6.80)
Requirement already satisfied: nvidia-cudnn-cu12==9.5.1.17 in /home/ehr/Desktop/anupama/.venv/lib/python3.12/site-packages (from torch>=2.2.0->ctgan>=0.11.0->sdv) (9.5.1.17)
Requirement already satisfied: nvidia-cublas-cu12==12.6.4.1 in /home/ehr/Desktop/anupama/.venv/lib/python3.12/site-packages (from torch>=2.2.0->ctgan>=0.11.0->sdv) (12.6.4.1)
Requirement already satisfied: nvidia-cufft-cu12==11.3.0.4 in /home/ehr/Desktop/anupama/.venv/lib/python3.12/site-packages (from torch>=2.2.0->ctgan>=0.11.0->sdv) (11.3.0.4)
Requirement already satisfied: nvidia-curand-cu12==10.3.7.77 in /home/ehr/Desktop/anupama/.venv/lib/python3.12/site-packages (from torch>=2.2.0->ctgan>=0.11.0->sdv) (10.3.7.77)
Requirement already satisfied: nvidia-cusolver-cu12==11.7.1.2 in /home/ehr/Desktop/anupama/.venv/lib/python3.12/site-packages (from torch>=2.2.0->ctgan>=0.11.0->sdv) (11.7.1.2)
Requirement already satisfied: nvidia-cusparse-cu12==12.5.4.2 in /home/ehr/Desktop/anupama/.venv/lib/python3.12/site-packages (from torch>=2.2.0->ctgan>=0.11.0->sdv) (12.5.4.2)
Requirement already satisfied: nvidia-cusparselt-cu12==0.6.3 in /home/ehr/Desktop/anupama/.venv/lib/python3.12/site-packages (from torch>=2.2.0->ctgan>=0.11.0->sdv) (0.6.3)
Requirement already satisfied: nvidia-nccl-cu12==2.26.2 in /home/ehr/Desktop/anupama/.venv/lib/python3.12/site-packages (from torch>=2.2.0->ctgan>=0.11.0->sdv) (2.26.2)
Requirement already satisfied: nvidia-nvtx-cu12==12.6.77 in /home/ehr/Desktop/anupama/.venv/lib/python3.12/site-packages (from torch>=2.2.0->ctgan>=0.11.0->sdv) (12.6.77)
Requirement already satisfied: nvidia-nvjitlink-cu12==12.6.85 in /home/ehr/Desktop/anupama/.venv/lib/python3.12/site-packages (from torch>=2.2.0->ctgan>=0.11.0->sdv) (12.6.85)
Requirement already satisfied: nvidia-cufile-cu12==1.11.1.6 in /home/ehr/Desktop/anupama/.venv/lib/python3.12/site-packages (from torch>=2.2.0->ctgan>=0.11.0->sdv) (1.11.1.6)
Requirement already satisfied: triton==3.3.1 in /home/ehr/Desktop/anupama/.venv/lib/python3.12/site-packages (from torch>=2.2.0->ctgan>=0.11.0->sdv) (3.3.1)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in /home/ehr/Desktop/anupama/.venv/lib/python3.12/site-packages (from sympy>=1.13.3->torch>=2.2.0->ctgan>=0.11.0->sdv) (1.3.0)
Requirement already satisfied: MarkupSafe>=2.0 in /home/ehr/Desktop/anupama/.venv/lib/python3.12/site-packages (from jinja2->torch>=2.2.0->ctgan>=0.11.0->sdv) (3.0.2)

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: pip install --upgrade pip

In [ ]:
# Generate metadata
metadata = SingleTableMetadata()
metadata.detect_from_dataframe(INPUTEVENTS_MV_cleaned)

# Initialize CTGAN
synthesizer = CTGANSynthesizer(metadata=metadata, epochs=30)

# Fit synthesizer
synthesizer.fit(INPUTEVENTS_MV_cleaned)

# Generate synthetic samples
synthetic_INPUTEVENTS_MV = synthesizer.sample(num_rows=1000)
synthetic_INPUTEVENTS_MV.to_csv("synthetic_INPUTEVENTS_MV.csv", index=False)

In [ ]:
plt.figure(figsize=(10, 5))
col = 'AMOUNT_scaled'

sns.kdeplot(INPUTEVENTS_MV_cleaned[col], label='Real', fill=True, alpha=0.5)
sns.kdeplot(synthetic_INPUTEVENTS_MV[col], label='Synthetic', fill=True, alpha=0.5)

plt.title(f"Distribution of {col}: Real vs Synthetic")
plt.legend()
plt.show()

In [ ]:
# Choose columns with minimal NaNs and good representation
target = 'ISOPENBAG'
features = ['AMOUNT_scaled', 'RATE', 'CANCELREASON', 'STATUSDESCRIPTION']  # adjust as needed

# Encode again if not already
for col in features:
    if INPUTEVENTS_MV_cleaned[col].dtype == 'object':
        INPUTEVENTS_MV_cleaned[col] = INPUTEVENTS_MV_cleaned[col].astype('category').cat.codes
    if synthetic_INPUTEVENTS_MV[col].dtype == 'object':
        synthetic_INPUTEVENTS_MV[col] = synthetic_INPUTEVENTS_MV[col].astype('category').cat.codes

# Real data
Xr = INPUTEVENTS_MV_cleaned[features]
yr = INPUTEVENTS_MV_cleaned[target]
Xr_train, Xr_test, yr_train, yr_test = train_test_split(Xr, yr, test_size=0.3)
model_r = RandomForestClassifier().fit(Xr_train, yr_train)
acc_real = accuracy_score(yr_test, model_r.predict(Xr_test))

# Synthetic data
Xs = synthetic_INPUTEVENTS_MV[features]
ys = synthetic_INPUTEVENTS_MV[target]
Xs_train, Xs_test, ys_train, ys_test = train_test_split(Xs, ys, test_size=0.3)
model_s = RandomForestClassifier().fit(Xs_train, ys_train)
acc_synth = accuracy_score(ys_test, model_s.predict(Xs_test))

print(f"Model accuracy on real data:     {acc_real:.2f}")
print(f"Model accuracy on synthetic data:{acc_synth:.2f}")

In [ ]:
import matplotlib.pyplot as plt

#  accuracy values
# These are from your previous results:
real_acc = real_acc          # Accuracy on real data using real training
vae_acc = vae_acc           # Accuracy on synthetic VAE data
gan_acc = syn_acc           # Accuracy on synthetic GAN (CTGAN) data

# Prepare bar chart data
labels = ['Real Data (Original)', 'CTGAN (Synthetic)', 'TVAE (Synthetic)']
accuracy_scores = [real_acc, gan_acc, vae_acc]

# Plotting
plt.figure(figsize=(10, 6))
bars = plt.bar(labels, accuracy_scores, color=['skyblue', 'orange', 'green'])

#  chart elements
plt.title('Model Accuracy Comparison: Real vs CTGAN vs TVAE', fontsize=14, fontweight='bold')
plt.ylabel('Accuracy Score')
plt.ylim(0.2, 1.5)
plt.grid(axis='y', linestyle='--', alpha=0.4)

# Annotate bars
for i, acc in enumerate(accuracy_scores):
    plt.text(i, acc + 0.01, f"{acc:.2f}", ha='center', fontsize=12, fontweight='bold')

plt.tight_layout()
plt.show()